@tmm @jxom

/packages/connectors/src/ledger @Wozacosta @ComradeAERGO @RamyEB @Justkant
/packages/connectors/src/safe @DaniSomoza @dasanra @mikhailxyz @yagopv
/packages/connectors/src/walletConnect @ganchoradkov @0xAsimetriq
