{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    },
    "allowImportExportEverywhere": true
  },
  "plugins": ["@typescript-eslint", "import", "react", "jest"],
  "extends": [
    "eslint:recommended",
    "plugin:eslint-comments/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    // `@typescript-eslint`
    // https://github.com/typescript-eslint/typescript-eslint
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": [
      2,
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-var-requires": "off",
    // `eslint-plugin-import`
    // https://github.com/benmosher/eslint-plugin-import
    "import/order": [
      "error",
      {
        "groups": ["external", "internal"],
        "newlines-between": "always-and-inside-groups"
      }
    ],
    "sort-imports": [
      "warn",
      {
        "ignoreCase": false,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false
      }
    ],
    // `eslint-plugin-react`
    // https://github.com/yannickcr/eslint-plugin-react
    "react/display-name": "off",
    "react/jsx-boolean-value": ["warn", "never"],
    "react/jsx-curly-brace-presence": [
      "error",
      { "props": "never", "children": "ignore" }
    ],
    "react/jsx-sort-props": [
      "error",
      {
        "callbacksLast": true
      }
    ],
    "react/jsx-wrap-multilines": "error",
    "react/no-array-index-key": "error",
    "react/no-multi-comp": "off",
    "react/prop-types": "off",
    "react/self-closing-comp": "warn"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx", ".d.ts"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  }
}
