*.vitest-temp.json
.DS_Store
.attest
.amp
.next
.nuxt
.pnpm-debug.log*
.vercel
.tanstack
.wrangler
_
cache
coverage
dist
node_modules
tsconfig.tsbuildinfo

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.envrc

# proxy packages
packages/cli/config
packages/cli/plugins
packages/connectors/baseAccount/
packages/connectors/coinbaseWallet/
packages/connectors/injected/
packages/connectors/metaMask/
packages/connectors/mock/
packages/connectors/porto/
packages/connectors/safe/
packages/connectors/tempoWallet/
packages/connectors/walletConnect/
packages/core/actions
packages/core/chains
packages/core/codegen
packages/core/experimental
packages/core/internal
packages/core/query
packages/core/tempo
packages/react/actions
packages/react/chains
packages/react/codegen
packages/react/connectors
packages/react/experimental
packages/react/internal
packages/react/query
packages/react/tempo
packages/solid/actions
packages/solid/chains
packages/solid/connectors
packages/solid/internal
packages/solid/query
packages/vue/actions
packages/vue/chains
packages/vue/connectors
packages/vue/internal
packages/vue/nuxt
packages/vue/query

# generated connector subpath exports
packages/connectors/src/exports/baseAccount.ts
packages/connectors/src/exports/coinbaseWallet.ts
packages/connectors/src/exports/injected.ts
packages/connectors/src/exports/metaMask.ts
packages/connectors/src/exports/mock.ts
packages/connectors/src/exports/porto.ts
packages/connectors/src/exports/safe.ts
packages/connectors/src/exports/tempoWallet.ts
packages/connectors/src/exports/walletConnect.ts
packages/react/src/exports/baseAccount.ts
packages/react/src/exports/coinbaseWallet.ts
packages/react/src/exports/injected.ts
packages/react/src/exports/metaMask.ts
packages/react/src/exports/mock.ts
packages/react/src/exports/porto.ts
packages/react/src/exports/safe.ts
packages/react/src/exports/tempoWallet.ts
packages/react/src/exports/walletConnect.ts
packages/solid/src/exports/baseAccount.ts
packages/solid/src/exports/coinbaseWallet.ts
packages/solid/src/exports/injected.ts
packages/solid/src/exports/metaMask.ts
packages/solid/src/exports/mock.ts
packages/solid/src/exports/porto.ts
packages/solid/src/exports/safe.ts
packages/solid/src/exports/tempoWallet.ts
packages/solid/src/exports/walletConnect.ts
packages/vue/src/exports/baseAccount.ts
packages/vue/src/exports/coinbaseWallet.ts
packages/vue/src/exports/injected.ts
packages/vue/src/exports/metaMask.ts
packages/vue/src/exports/mock.ts
packages/vue/src/exports/porto.ts
packages/vue/src/exports/safe.ts
packages/vue/src/exports/tempoWallet.ts
packages/vue/src/exports/walletConnect.ts
.vercel
.env*.local
