.DS_Store
.next
.pnpm-debug.log*
cache
coverage
dist
node_modules
tsconfig.tsbuildinfo
*.vitest-temp.json

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.envrc

# proxy packages
packages/cli/config
packages/cli/plugins
packages/core/actions
packages/core/chains
packages/core/codegen
packages/core/internal
packages/core/query
packages/react/actions
packages/react/chains
packages/react/codegen
packages/react/connectors
packages/react/query
