*.vitest-temp.json
.DS_Store
.attest
.next
.nuxt
.pnpm-debug.log*
.tanstack
.wrangler
_
cache
coverage
dist
node_modules
tsconfig.tsbuildinfo

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.envrc

# proxy packages
packages/cli/config
packages/cli/plugins
packages/core/actions
packages/core/chains
packages/core/codegen
packages/core/experimental
packages/core/internal
packages/core/query
packages/core/tempo
packages/react/actions
packages/react/chains
packages/react/codegen
packages/react/connectors
packages/react/experimental
packages/react/internal
packages/react/query
packages/react/tempo
packages/solid/actions
packages/solid/chains
packages/solid/connectors
packages/solid/internal
packages/solid/query
packages/vue/actions
packages/vue/chains
packages/vue/connectors
packages/vue/internal
packages/vue/nuxt
packages/vue/query
