* text=auto
.gitattributes !filter !diff

.env.example linguist-language=Dotenv

biome.json linguist-language=JSON-with-Comments
tsconfig.json linguist-language=JSON-with-Comments
.vscode/*.json linguist-language=JSON-with-Comments

routeTree.gen.ts linguist-generated=true
