node_modules
dist
generated
CHANGELOG.md

// Once prettier fixes MDX ignore ranges
// https://github.com/prettier/prettier/pull/12208
docs/pages/index.en-US.mdx
docs/pages/react/getting-started.en-US.mdx
docs/pages/core/getting-started.en-US.mdx
docs/pages/cli/create-wagmi.en-US.mdx
