@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

.wagmi-devtools-content {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}

@layer base {
  [data-theme] {
    scrollbar-color: hsl(var(--gray-500)) transparent;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
  }

  [data-theme="light"] {
    color-scheme: light;
    --background-100: 0 0 100;
    --background-200: 0 0 98.04;
    --gray-100: 0 0 94.9;
    --gray-200: 0 0 92.16;
    --gray-300: 0 0 90.2;
    --gray-400: 0 0 92.16;
    --gray-500: 0 0 78.82;
    --gray-600: 0 0 65.88;
    --gray-700: 0 0 56.08;
    --gray-800: 0 0 49.02;
    --gray-900: 0 0 40;
    --gray-1000: 0 0 9.02;
    --blue-100: 212 100 97;
    --blue-200: 210 100 96;
    --blue-300: 210 100 94;
    --blue-400: 209 100 90;
    --blue-500: 209 100 80;
    --blue-600: 208 100 66;
    --blue-700: 212 100 48;
    --blue-800: 212 100 41;
    --blue-900: 211 100 42;
    --blue-1000: 211 100 15;
    --red-100: 0 100 97;
    --red-200: 0 100 96;
    --red-300: 0 100 95;
    --red-400: 0 90 92;
    --red-500: 0 82 85;
    --red-600: 359 90 71;
    --red-700: 358 75 59;
    --red-800: 358 70 52;
    --red-900: 358 66 48;
    --red-1000: 355 49 15;
    --amber-100: 39 100 95;
    --amber-200: 44 100 92;
    --amber-300: 43 96 90;
    --amber-400: 42 100 78;
    --amber-500: 38 100 71;
    --amber-600: 36 90 62;
    --amber-700: 39 100 57;
    --amber-800: 35 100 52;
    --amber-900: 30 100 32;
    --amber-1000: 20 79 17;
    --green-100: 120 60 96;
    --green-200: 120 60 95;
    --green-300: 120 60 91;
    --green-400: 122 60 86;
    --green-500: 124 60 75;
    --green-600: 125 60 64;
    --green-700: 131 41 46;
    --green-800: 132 43 39;
    --green-900: 133 50 32;
    --green-1000: 128 29 15;
    --teal-100: 169 70 96;
    --teal-200: 167 70 94;
    --teal-300: 168 70 90;
    --teal-400: 170 70 85;
    --teal-500: 170 70 72;
    --teal-600: 170 70 57;
    --teal-700: 173 80 36;
    --teal-800: 173 83 30;
    --teal-900: 174 91 25;
    --teal-1000: 171 80 13;
    --purple-100: 276 100 97;
    --purple-200: 277 87 97;
    --purple-300: 274 78 95;
    --purple-400: 276 71 92;
    --purple-500: 274 70 82;
    --purple-600: 273 72 73;
    --purple-700: 272 51 54;
    --purple-800: 272 47 45;
    --purple-900: 274 71 43;
    --purple-1000: 276 100 15;
    --pink-100: 330 100 96;
    --pink-200: 340 90 96;
    --pink-300: 340 82 94;
    --pink-400: 341 76 91;
    --pink-500: 340 75 84;
    --pink-600: 341 75 73;
    --pink-700: 336 80 58;
    --pink-800: 336 74 51;
    --pink-900: 336 65 45;
    --pink-1000: 333 74 15;
  }

  [data-theme="dark"] {
    color-scheme: dark;
    --background-100: 0 0 3.92;
    --background-200: 0 0 0;
    --gray-100: 0 0 10.2;
    --gray-200: 0 0 12.16;
    --gray-300: 0 0 16.08;
    --gray-400: 0 0 18.04;
    --gray-500: 0 0 27.06;
    --gray-600: 0 0 52.94;
    --gray-700: 0 0 56.08;
    --gray-800: 0 0 49.02;
    --gray-900: 0 0 63.14;
    --gray-1000: 0 0 92.94;
    --blue-100: 216 50 12;
    --blue-200: 214 59 15;
    --blue-300: 213 71 20;
    --blue-400: 212 78 23;
    --blue-500: 211 86 27;
    --blue-600: 206 100 50;
    --blue-700: 212 100 48;
    --blue-800: 212 100 41;
    --blue-900: 210 100 66;
    --blue-1000: 206 100 96;
    --red-100: 357 37 12;
    --red-200: 357 46 16;
    --red-300: 356 54 22;
    --red-400: 357 55 26;
    --red-500: 357 60 32;
    --red-600: 358 75 59;
    --red-700: 358 75 59;
    --red-800: 358 69 52;
    --red-900: 358 100 69;
    --red-1000: 353 90 96;
    --amber-100: 35 100 8;
    --amber-200: 32 100 10;
    --amber-300: 33 100 15;
    --amber-400: 35 100 17;
    --amber-500: 35 91 22;
    --amber-600: 39 85 49;
    --amber-700: 39 100 57;
    --amber-800: 35 100 52;
    --amber-900: 35 100 52;
    --amber-1000: 40 94 93;
    --green-100: 136 50 9;
    --green-200: 137 50 12;
    --green-300: 136 50 14;
    --green-400: 135 70 16;
    --green-500: 135 70 23;
    --green-600: 135 70 34;
    --green-700: 131 41 46;
    --green-800: 132 43 39;
    --green-900: 131 43 57;
    --green-1000: 136 73 94;
    --teal-100: 169 78 7;
    --teal-200: 170 74 9;
    --teal-300: 171 75 13;
    --teal-400: 171 85 13;
    --teal-500: 172 85 20;
    --teal-600: 172 85 32;
    --teal-700: 173 80 36;
    --teal-800: 173 83 30;
    --teal-900: 174 90 41;
    --teal-1000: 166 71 93;
    --purple-100: 283 30 12;
    --purple-200: 281 38 16;
    --purple-300: 279 44 23;
    --purple-400: 277 46 28;
    --purple-500: 274 49 35;
    --purple-600: 272 51 54;
    --purple-700: 272 51 54;
    --purple-800: 272 47 45;
    --purple-900: 275 80 71;
    --purple-1000: 281 73 96;
    --pink-100: 335 32 12;
    --pink-200: 335 43 16;
    --pink-300: 335 47 21;
    --pink-400: 335 51 22;
    --pink-500: 335 57 27;
    --pink-600: 336 75 40;
    --pink-700: 336 80 58;
    --pink-800: 336 74 51;
    --pink-900: 341 90 67;
    --pink-1000: 333 90 96;
  }
}
