@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-feature-settings: 'rlig' 1, 'calt' 1;
}

[data-reach-skip-link] {
  @apply sr-only;
}

[data-reach-skip-link]:focus {
  @apply not-sr-only fixed ml-6 top-0 bg-white text-lg px-6 py-2 mt-2 outline-none focus:ring z-50;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

.nextra-callout a,
ul a,
ol a {
  @apply text-current;
}

@media (min-width: 768px) {
  .nextra-sidebar-container {
    width: 18rem;
  }
}

sup a {
  @apply text-current;
  text-decoration: none;
}

code.text-\[\.9em\] {
  font-size: 14px;
}

.footnotes {
  @apply text-sm;
}

.install [role='tablist'] {
  justify-content: center;
}

table {
  @apply table-auto w-full;
  display: table !important;
}