name: Size

on:
  # Disabled until fixed
  branches-ignore:
    - '**'
  pull_request:
    branches:
      - main

jobs:
  size:
    name: Size
    runs-on: ubuntu-latest
    env:
      CI_JOB_NUMBER: 1
    steps:
      - uses: actions/checkout@v2
      - uses: andresz1/size-limit-action@v1.5.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          build_script: build
